/* veiculo-detail.component.css */


/* Estilos para o botão de Detalhes */
.button-detalhes {
  width: 250px;
  background-color: white;
  color: black;
  border: none;
  padding: 20px 40px;
  border-radius: 10px;
  cursor: pointer;
}



  